.template-capabilities {

	.intro {
    padding: 3rem 0;
    position: relative;

    @include breakpoint(medium) {
      padding: 6rem 0;
    }

    .intro-background-image {
      filter: grayscale(100%);
      height: 100%;
      opacity: .05;
      position: absolute;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
      z-index: -1;

      &.intro-background-image-cover {
        width: 100%;
        object-fit: cover;
      }

    }

    .intro-content {

      @include breakpoint(medium) {
        margin-bottom: 2rem;
      }


      h2 {
        font-size: 1.45rem;
        font-weight: 400;
        margin-bottom: 1.33rem;

        @include breakpoint(medium) {
          font-size: 2.75rem;
        }

      }

      p:last-child {
      	margin-bottom: 0;
      }

    }

   }


   .capabilities {
   		background-color: rgba($lite-blue,.025);
   		padding: 2rem 0;


      @include breakpoint(medium) {
        padding: 4rem 0;
      }

   		h2 {
   			font-size: 2rem;
   			font-weight: 700;
   			margin: 0 0 3rem;
   		}

   		.capabilities-blocks {
        

   			.capabilities-block {
          background: #f1f1f1;
          border-bottom: 5px solid $blue;
          margin-bottom: 3rem;
          overflow: hidden;
          //padding: 2.5rem;
          //padding: 0 6rem 6rem 0 ;



          .capabilities-photos {
            text-align: center;
            //margin-bottom: 3rem;
            //width: 50%;

            img {
              height: 300px;
              margin: 0 auto;
              width: 100%;

              object-fit: cover;
            }

          }

          .capabilities-content {
            padding: 1rem;

            @include breakpoint(medium) {
              padding: 2rem 6rem 1rem 3rem;
            }
          }

          .slick-dotted.slick-slider {
            margin-bottom: 0;
          }

          .slick-dots {
            bottom: 10px;
            z-index: 99999;
          }

          .slick-dots li button:before {
            color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            content: "\f013";
            font-size: 18px;
            width: 30px;
            height: 30px;
            font-family: 'Font Awesome 5 Pro';
          }

          .slick-dots .slick-active button:before {
            color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            content: "\f013";
            font-size: 18px;
            font-weight: 700;
            font-family: 'Font Awesome 5 Pro';
          }

          .slick-next:before, .slick-prev:before {
            font-family: slick;
            font-size: 30px;
            line-height: 1;
            color: #aaa;
          }

          .slick-next, .slick-prev {
            top: 37%;
          }

          .slick-next {
            right: -18px;
          }
   					
 					h3 {
	   				font-size: 1.45rem;
	   				font-weight:500;
	   				margin: 1rem 0 .67rem;
	   			}

	   			p {
	   				color: $primary;
	   			}

          .definition {
            border-top: 1px dashed rgba($blue,.25);
            padding-top: 1rem;

            p {
              font-size: 13.5px;
              margin-bottom: 0;
            }

          }

   			}	

   		}


   }

  .gearing-chart {
    //background-color: #E4F1FE;
    padding: 3rem 0;

    table {
      color: $blue;

      thead {
        background: $blue;
        color: $yellow;
      }

      tbody tr:nth-child(2n) {
        border-bottom: 0;
        background-color: #e3f1fe;
      }

    }


  }

}

/*

.template-capabilities {

  .intro {
    padding: 3rem 0;
    position: relative;

    @include breakpoint(medium) {
      padding: 6rem 0;
    }

    .intro-background-image {
      filter: grayscale(100%);
      height: 100%;
      opacity: .05;
      position: absolute;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
      z-index: -1;

      &.intro-background-image-cover {
        width: 100%;
        object-fit: cover;
      }

    }

    .intro-content {
      margin-bottom: 3.33rem;


      h2 {
        font-size: 2.75rem;
        font-weight: 400;
        margin-bottom: 1.33rem;
      }

      p:last-child {
        margin-bottom: 0;
      }

    }

   }


   .capabilities {
      background-color: rgba($lite-blue,.025);
      padding: 6rem 0;

      h2 {
        font-size: 2rem;
        font-weight: 700;
        margin: 0 0 3rem;
      }

      .capabilities-blocks {

        .capabilities-block {
          padding: 0 6rem 6rem 0 ;

          .capabilities-photos {
            text-align: center;
            margin-bottom: 3rem;
            width: 50%;

            img {
              max-height: 180px;
              margin: 0 auto;
              width: auto;
            }

          }

          .slick-next:before, .slick-prev:before {
            font-family: slick;
            font-size: 30px;
            line-height: 1;
            color: #aaa;
          }

          .slick-next, .slick-prev {
            top: 37%;
          }

          .slick-next {
            right: -18px;
          }
            
          h3 {
            font-size: 1.45rem;
            font-weight:500;
            margin: 1rem 0 .67rem;
          }

          p {
            color: $primary;
          }

        } 

      }


   }

  .gearing-chart {
    background-color: #E4F1FE;
    padding: 3rem 0;
  }

}
*/