.main-footer {
  background: $secondary;
  padding: 4rem 0 4rem;
  position: relative;
  text-align: center;

  @include breakpoint(medium) {
    text-align: left;
  }

  p {
    color: $white;
  }

  .footer-menu {
    list-style: none;
    margin: 2rem 0 1rem;

    @include breakpoint(medium) {
      margin: 3.5rem 0 1rem;
    }

    li {
      //border-bottom: 1px solid rgba(#fff,.15);

      &:last-child {
        border-bottom: none;
      }

      a {
        color: $white;
        display: inline-block;
        font-size: 15px;
        font-weight: 400;
        line-height: 40px;
        text-transform: uppercase;
        vertical-align: top;

        &:hover {
          color: $grey;
        }

      }

    }

  }

  .footer-about {
    margin: 2rem 0 1rem;

    @include breakpoint(medium) {
      margin: 3.5rem 0 1rem;
    }

    p {
      font-size: 14px;
    }

  }

  .footer-large-image {
    margin-top: 60px;
  }

}

  /*

  .footer-background-image {
    filter: grayscale(100%);
    height: 100%;
    //opacity: .13;
    position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
    z-index: -1;

    &.footer-background-image-cover {
      width: 100%;
      object-fit: cover;
    }

  }

  .footer-logo {
    margin-top: 20px;
    max-width: 280px;
    margin-bottom: 1.5rem;
  }

  .footer-about {
    font-size: 17px;
    font-style: italic;
  }

  h6 {
    //border-bottom: 4px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    margin-top: 1.25rem;
    margin-bottom: .5rem;
    //padding-bottom: .33rem;
  }

  p, a {
    color: rgba(#fff,.9);
    font-size: .875rem;
  }

  ul.footer-badges {
    display: block;
    list-style: none;
    margin: 1.5rem 0 0;

    li {
      background: rgba(#fff,.85);
      box-shadow: 0 3px 3px rgba(#999,.4);
      display: inline-block;
      //float: left;
      //height: 80px;
      margin-right: 5px;
      padding: 2px;
      max-width: 80px;

      @include breakpoint(medium) {
        margin-right: 10px;
        max-width: 110px;
      }

      img {
        height: 30px;
        width: auto;

        @include breakpoint(medium) {
          height: 40px;
          width: auto;
        }

      }

    }
    
  }

  ul.social-media-icons {
    display: block;
    list-style: none;
    margin: .5rem 0 0;

    li {
      display: inline-block;
      margin-right: 10px;

      a {
        color: $mint;
        font-size: 26px;
      }

      a:hover {
        color: #fff;
      }

    }

  }

  .footer-button {
    margin-top: 1.75rem;
  }

  .copyright {
    //border-top: 1px solid lighten($primary,7%);
    color: rgba(#fff,.9);
    margin-top: 1rem;
    padding: 1rem 0;

    p {
      font-size: .875rem;
      color: rgba(#fff,.7);
    }

  }

}

*/